@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__text {
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    color: #0096dc;
    margin-left: 26px;
    margin-right: auto;
}

.header__link {
    font-weight: 700;
    color: $green;
    font-size: 14px;
    padding: 8px 18px 8px 53px;
    width: 170px;
    border: 2px solid $green;
    border-radius: 10px;
    margin-right: 54px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background-image: url(../images/icons/header-link.png);
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.header__time {
    margin-right: 70px;
    color: $title;
    padding-left: 50px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/header-clock.png);
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    &-text {
        font-size: 14px;
    }

    &-number {
        font-size: 18px;
        font-weight: 600;
    }
}

.header__phone-inner {

    a {
        display: block;
    }

    .header__phone {
        color: $title;
        font-weight: 700;
        font-size: 23px;
        margin-bottom: 10px;
        padding-left: 35px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/icons/header-phone.png);
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    .header__call {
        color: #0089cc;
        text-decoration: underline;
        text-align: right;
    }
}

// end header

// start main

.main {
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 640px;

    &__inner {
        padding: 98px 0;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $title;
        font-weight: 700;
        font-size: 26px;
        line-height: 48px;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: $title;
        font-weight: 700;
        font-size: 55px;
        line-height: 48px;
        margin-bottom: 150px;
    }
}

.main__content-inner {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content-item {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: $blue;
    padding: 45px 5px 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 48px;
        height: 58px;
        background-image: url(../images/icons/main-content-item-1.png);
        left: 50%;
        transform: translateX(-50%);
        top: -24px;
    }
}

.main__item-speed::before {
    background-image: url(../images/icons/main-content-item-2.png);
    width: 50px;
    height: 58px;
    top: -26px;
    left: 45%;
}

.main__item-garant::before {
    background-image: url(../images/icons/main-content-item-3.png);
    width: 41px;
    height: 42px;
    top: -15px;
}

.main__item-export::before {
    background-image: url(../images/icons/main-content-item-4.png);
    width: 48px;
    height: 40px;
    top: -11px;
}

// end main

@import 'media';