@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__text {
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    color: #0096dc;
    margin-left: 26px;
    margin-right: auto;
}

.header__link {
    font-weight: 700;
    color: $green;
    font-size: 14px;
    padding: 8px 18px 8px 53px;
    width: 170px;
    border: 2px solid $green;
    border-radius: 10px;
    margin-right: 54px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background-image: url(../images/icons/header-link.png);
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.header__time {
    margin-right: 70px;
    color: $title;
    padding-left: 50px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/header-clock.png);
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    &-text {
        font-size: 14px;
    }

    &-number {
        font-size: 18px;
        font-weight: 600;
    }
}

.header__phone-inner {

    a {
        display: block;
    }

    .header__phone {
        color: $title;
        font-weight: 700;
        font-size: 23px;
        margin-bottom: 10px;
        padding-left: 35px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/icons/header-phone.png);
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    .header__call {
        color: #0089cc;
        text-decoration: underline;
        text-align: right;
    }
}

// end header

// start main

.main {
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 640px;

    &__inner {
        padding: 98px 0;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $title;
        font-weight: 700;
        font-size: 26px;
        line-height: 48px;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: $title;
        font-weight: 700;
        font-size: 55px;
        line-height: 48px;
        margin-bottom: 150px;
    }
}

.main__content-inner {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content-item {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: $blue;
    padding: 45px 5px 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 48px;
        height: 58px;
        background-image: url(../images/icons/main-content-item-1.png);
        left: 50%;
        transform: translateX(-50%);
        top: -24px;
    }
}

.main__item-speed::before {
    background-image: url(../images/icons/main-content-item-2.png);
    width: 50px;
    height: 58px;
    top: -26px;
    left: 45%;
}

.main__item-garant::before {
    background-image: url(../images/icons/main-content-item-3.png);
    width: 41px;
    height: 42px;
    top: -15px;
}

.main__item-export::before {
    background-image: url(../images/icons/main-content-item-4.png);
    width: 48px;
    height: 40px;
    top: -11px;
}

// end main

// start range

.range {
    padding: 75px 0 100px;

    &-content__tabs {

        .tabs {
            padding: 0 70px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            .tab {
                max-width: 150px;
                text-align: center;
                cursor: pointer;

                &:hover {

                    span {
                        text-decoration: none;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    color: #249ae6;
                    margin-top: 15px;
                    display: inline-block;
                    text-decoration: underline;
                }

                &.active {
                    cursor: default;

                    span {
                        color: #454545;
                        text-decoration: none;
                    }
                }
            }
        }

        .tab__content {

            .tab-item {
                display: none;

                &.active-tab {
                    display: block;
                }
                .range__content-inner {
                    display: flex;

                    .range__content {
                        flex-basis: 50%;
                        padding: 20px 60px 0;
                        border-top: 5px solid $blue;
                        border-top-left-radius: 5px;
                        background-image: linear-gradient( -90deg, rgb(13,143,227) 0%, rgb(13,143,227) 0%, rgba(255,255,255,0) 100%);
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            border: 14px solid transparent; 
                            border-top: 14px solid $blue;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
    
                        &-warm {
                            border-top-right-radius: 5px;
                            border-top-left-radius: 0;
                            border-color: $yellow;
                            background-image: linear-gradient( -90deg, rgb(255,185,3) 0%, rgba(255,185,3,0.99) 1%, rgba(255,255,255,0) 100%);

                            &::before { 
                                border-top: 14px solid $yellow;
                            }

                            .range__content-title {
                                color: $yellow;
                            }
                        }
    
                        &-title {
                            text-align: center;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 48px;
                            color: $blue;
                            margin-bottom: 15px;
                        }

                        &-list {
                            margin-top: 25px;
                            margin-bottom: 40px;

                            li {
                                font-size: 14px;
                                line-height: 30px;
                                color: #000;
                                padding-left: 42px;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 25px;
                                    height: 25px;
                                    background-color: #e8e8e8;
                                    border-radius: 50%;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background-image: url(../images/icons/range-checked.png);
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                }
                            }
                        }

                        &-box {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 48px;

                            .range__content-price {

                                .range__content-number {
                                    font-size: 20px;
                                    line-height: 30px;
                                    color: #000;
                                    font-weight: 700;
                                }

                                .range__content-subtext {
                                    font-size: 14px;
                                    line-height: 30px;
                                    margin-top: 5px;
                                }
                            }

                            .range__content-btn {
                                font-family: 'Open Sans Condensed', sans-serif;
                                font-weight: 700;
                                color: #000;
                                font-size: 19px;
                                line-height: 48px;
                                background-image: linear-gradient( -90deg, rgb(255,237,38) 0%, rgb(255,180,0) 100%);
                                box-shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);
                                border-radius: 10px;
                                border: 1px solid rgb(255, 198, 0);
                                padding: 7px;
                                width: 262px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

// end range

// start sale 

.sale {
    background-color: #f7f7f7;
    padding: 75px 0 100px;

    &-content__tabs {

        .tabs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 90px;
    
            .tab {
                text-align: center;
                flex-basis: 25%;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: #000;
                text-decoration: underline;
                text-decoration-style: dotted;
                cursor: pointer;
                border-top: 10px solid transparent;
                padding-top: 30px;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    border: 20px solid transparent; 
                    border-top: 20px solid $blue;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                }

                &.active {
                    border-color: $blue;
                    text-decoration: none;

                    &::before {
                        display: block;
                    }
                }
            }
        }

        .tab__content {

            .tab-item {
                display: none;

                &.active-tab {
                    display: block;
                }

                .sale__inner {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .sale__images {
                        margin-top: -70px;
                    }

                    .sale__items {
                        margin-left: -40px;
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 480px;
                        width: 100%;

                        .sale__item {
                            margin-left: 40px;
                            text-align: center;
                            max-width: 110px;
                            width: 100%;
                            margin-bottom: 60px;
                            min-height: 170px;
                            position: relative;
                            padding-bottom: 36px;

                            &-images {
                                
                                img {
                                    border-radius: 50%;
                                }
                            }

                            &-title {
                                font-size: 14px;
                                line-height: 20px;
                                color: #000;
                                font-weight: 600;
                                margin-top: 15px;
                            }

                            &-text-inner {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;

                                .sale__item-text {
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: $blue;
                                    font-weight: 700;
                                }

                                .sale__item-subtext {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// end sale

// start works

.works {
    padding: 75px 0 50px;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
        border-radius: 10px;
        position: relative;
        transition: all .3s;

        img {
            border-radius: 10px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 40px;
            height: 40px;
            background-image: url(../images/icons/zoom-in.png);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            transform: scale(1.5);
            z-index: 1;

            &::before {
                display: none;
            }
        }
    }
}

// end works

// start advantages

.advantages {
    padding-top: 75px;
    background-image: url(../images/advantages-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 654px;

    &__title {
        color: #ffffff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: 33.333%;
        text-align: center;
        margin-bottom: 70px;

        &-title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            color: #ffffff;
            max-width: 180px;
            width: 100%;
            margin: 25px auto 0;
        }
    }
}

// end advantages

// start payment

.payment {
    padding: 75px 0 85px;

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 48px;
        color: #000;
        margin-bottom: 70px;
        text-align: center;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;

        &-text {
            font-size: 20px;
            line-height: 30px;
            margin-left: 30px;
        }
    }
}

// end payment

// start stock

.stock {
    background-image: url(../images/stock-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    padding: 75px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 48px;
        line-height: 48px;
        color: #008cce;
        font-weight: 700;
        margin-bottom: 65px;
    }

    &__text {
        color: #000;
        font-size: 24px;
        line-height: 40px;
        max-width: 400px;
        width: 100%;
        margin-bottom: 70px;
    }

    &__box {
        max-width: 260px;
        width: 100%;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        background-color: #fff;
        padding: 20px 25px;

        &-title {
            font-size: 14px;
            font-weight: 600;
            color: #000000;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 18px;
        }

        .countdown {
            font-family: sans-serif;
            color: #fff;
            display: flex;
            justify-content: space-between;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
            max-width: 210px;
            width: 100%;
        }
          
        .countdown-number {
            padding: 0;
            border-radius: 3px;
            background: transparent;
            display: inline-block;
            width: 40px;
        }
          
        .countdown-time {
            padding: 0;
            border-radius: 10px;
            background-image: linear-gradient( -90deg, rgb(57,57,57) 0%, rgb(20,20,20) 100%);
            display: inline-block;
            width: 40px;
            height: 50px;
            line-height: 50px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: #efefef;
        }
          
        .countdown-text {
            display: block;
            padding-top: 5px;
            font-size: 16px;
            color: #000;
            font-weight: 600;
            font-size: 13px;
            line-height: 33px;
        }
    }
}

// end stock

// start footer

.footer__content {
    padding: 80px 0;

    &-inner {
        display: flex;
        justify-content: space-between;
    }
}

.footer__map {
    max-width: 570px;
    width: 100%;
    min-height: 466px;

    iframe {
        width: 100%;
        min-height: 466px;
    }
}

.footer__contacts {
    max-width: 470px;
    width: 100%;
    padding-right: 35px;
    margin-top: -20px;

    &-title {
        font-weight: 600;
        font-size: 15px;
        line-height: 48px;
        color: #008cce;
    }

    &-adress {
        font-weight: 600;
        color: #000;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    &-phone {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #000;
        margin-bottom: 20px;

        span {
            font-weight: 400;
        }
    }

    &-email {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #000;
        margin-bottom: 20px;
        border-bottom: 1px solid #000;
    }

    &-work {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #000;
    }
}

.footer__question {
    background-color: #00a0eb;
    padding: 80px 0;

    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-text {
        font-size: 30px;
        color: #ffffff;
    }

    &-link {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
        margin-left: 38px;
    }
}

.footer__copy-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

.footer__copy-text {
    color: #000;
    max-width: 180px;
    width: 100%;
}

.footer__copy-phone {
    display: block;
    color: $title;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer__copy-email {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 26px;
    color: #0090d5;
    text-decoration: underline;
}

// end footer

@import 'media';


  